body {
    max-width: 400px;
    margin: auto;
}

.container {
    padding-top: 44px;

}

.first {
    padding-bottom: 23px;
}

h1 {
    font-size: 2rem;
}

.jupi {
    height: 50px;
}

.pay {
    text-align: center;
    margin: auto;
    padding-bottom: 15px
}

.paypal {
    padding-top: 20px;
    background: #243B7F;
    padding-bottom: 6px;
    border-radius: 21px;
    margin-right: 8px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
}

#paypic {
    padding-bottom: 15px;
}

#payname {
    color: #77A2CA;
    font-size: 11px;
    font-weight: 700;
}

#paycash {
    color: white;
    padding-bottom: 5px;
}

#button1 {
    background: white;
    border-radius: 21px;
    border-style: none;
    width: 95%;
    height: 30px;
    font-size: 11px;
    padding: 5px 2px;
    font-weight: 700;
    color: #6a6a6b;
    transition: 0.3s;
}

#button1:hover {
    background: #6a6a6b;
    color: white;
}

.card2 {
    padding-top: 20px;
    padding-bottom: 6px;
    border-radius: 21px;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid white;
    box-shadow: 5px 10px 18px #888888;
}

#person {
    padding-bottom: 15px;
    border-radius: 30px;
}

#pinky {
    color: #FFBACD;
    font-size: 11px;
    font-weight: 700;
}

#mula {
    padding-bottom: 5px;
}

#button2 {
    background: white;
    border-radius: 21px;
    border: 1px solid #ccc;    
    width: 95%;
    height: 30px;
    font-size: 11px;
    padding: 5px 2px;
    font-weight: 700;
    color: #ccc;
    transition: 0.3s;
}

#button2:hover {
    color: black;
    background: #ccc;
}

.credit {
    text-align: center;
    padding-top: 20px;
    color: #6EBCE2;
    font-weight: 700;
    padding-bottom: 40px
}

#boldtxt {
    font-weight: 700;
    font-size: 22px;
}

#blue {
    color: #5C6494;
}

.money {
    padding-top: 22px; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.vnd {
    padding-top: 20px;
}

.bold {
    font-weight: 700
}

#primary {
    color: #5D7AA9;
    background: #9ED4F0;
    padding: 2px 3px;
    font-size: 10px;
    border-radius: 3px;
    font-weight: 700 !important;
}

.right {
    text-align: right;
}